/* GLOBAL */
body {
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
}

.results {
    border: 1px black solid;
}

.player-score {
    margin: 0 auto;
    display: inline-block;
}

#you-score {
    padding-right: 30px;
    
}

#computer-score {
    padding-left: 30px;
}